<%layout('../layout')%>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">ยินดีต้อนรับสู่ Admin page</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

     <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>SB Admin v2.0 Node.js</h1>
                <p>ลองใช้งานดูสิ</p>
                <p>ระบบดีน่ะ</p>
                <p>ใช้แล้วจะติดใจ</p>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-4">
            <div class="well">
                <h4>Order</h4>
                <p>สามารถดูรายละเอียดการ Order ทั้งหมดได้</p>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="well well-lg">
                <h4>Payment</h4>
                <p>สามารถดูรายละเอียดการแจ้งโอนเงินได้</p>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="well well-sm">
                <h4>User</h4>
                <p>เช็ค User ทั้งหมดในระบบ</p>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>



</div>
<!-- /#page-wrapper -->