<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
             <li>
                <a href="/readme"><i class="fa fa-gamepad fa-fw"></i> index</a>
            </li>
            <li>
                <a href="/order"><i class="fa fa-money fa-fw"></i> order</a>
            </li>
            <li>
                <a href="/payment"><i class="fa fa-money fa-fw"></i> payment</a>
            </li>
            <li>
                <a href="/user"><i class="fa fa-money fa-fw"></i> user</a>
            </li>
            <!--<li>-->
                <!--&lt;!&ndash;<a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="nav nav-second-level">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="/flot">Flot Charts</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="/morris">Morris.js Charts</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash; /.nav-second-level &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="/tables"><i class="fa fa-table fa-fw"></i> Tables</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="/forms"><i class="fa fa-edit fa-fw"></i> Forms</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--<a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level">-->
                    <!--<li>-->
                        <!--<a href="/panelswells">Panels and Wells</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/buttons">Buttons</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/notifications">Notifications</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/typography">Typography</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/icons"> Icons</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/grid">Grid</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level">-->
                    <!--<li>-->
                        <!--<a href="#">Second Level Item</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">Second Level Item</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">Third Level <span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-third-level">-->
                            <!--<li>-->
                                <!--<a href="#">Third Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Third Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Third Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Third Level Item</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; /.nav-third-level &ndash;&gt;-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level">-->
                    <!--<li>-->
                        <!--<a href="/blank">Blank Page</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/login">Login Page</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#"><i class="fa  fa-code fa-fw"></i> CRUD Example Page<span class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level">-->
                    <!--<li>-->
                        <!--<a href="/bbs">BBS</a>-->
                    <!--</li>-->

                <!--</ul>-->
                <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
            <!--</li>-->
        <!--</ul>-->
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
