<!--<div class="container footer">-->
    <!--<hr>-->
    <!--&lt;!&ndash; Footer &ndash;&gt;-->
    <!--<footer>-->

        <!--<div class="row">-->
            <!--<div class="col-lg-12 ">-->

                <!--<p>Copyright &copy; PPShop 2017 Create By:Mr.Nattawut Visuttipinat &nbsp-->
                     <!--<i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> +089 805 8960-->
                 <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</footer>-->
<!--</div>-->
 <br/> <br/>

<div class="footer">
    <div class="container">
    <div class="row bot" >
        <div class="col-sm-6 col-md-7 ">
            <div>ติดต่อเราได้ที่</div>
            <div><i class="glyphicon glyphicon-envelope bot" aria-hidden="true"></i> Paoonline@windowslive.com</div>
            <div><i class="glyphicon glyphicon-earphone bot" aria-hidden="true"></i> & Line +089 805 8960</div>
        </div>

        <div class="col-sm-6 col-md-5" >
                <div>เว็บไซค์นี้สร้างมาเพื่อทดสอบระบบเท่านั้นไม่ได้ หวังกำไรใดๆทั้งสิ้น</div>
                <div class="bot"><i class="glyphicon glyphicon-home" aria-hidden="true"></i> 54/8 หมู่ ถ.พหลโยธิน ต.ท่าศาลา อ.เมือง จ.ลพบุรี 15000</div>
        <br/><br/>
        </div>
        <div class="container">
            Copyright &copy; PPShop 2017 Create By:Mr.Nattawut Visuttipinat
        </div>
    </div>

    </div>



</div>







