<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>สั่งซื้อ</h1>
        <h4>ราคายังไม่รวมค่าจัดส่ง: {{total}} บาท</h4>
        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>
        <form action="/checkout" method="post" id="checkout-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">ชื่อ-นามสกุล</label>
                        <input type="text" id="name" class="form-control" required name="name"/>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">ที่อยู่ในการจัดส่ง</label>
                        <input type="text" id="address" class="form-control" required name="address"/>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <div align="left"><label for="std">พัสดุลงทะเบียน <br> 20 บาท</label></div>
                        <input type="radio" id="std" class="form-control" value="20" required name="delivery"/>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <div align="left"><label for="ems">จัดส่ง EMS <br> 50 บาท</label></div>
                        <input type="radio" id="ems" class="form-control" value="50" required name="delivery"/>
                    </div>
                </div>
            </div>
            <br/>
            <div class="col-xs-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">สั่งซื้อเดี๋ยวนี้</button>
                </div>
            </div>

        </form>
    </div>
</div>
<script type="text/javascript" src="javascripts/checkout.js"></script>